{% block content %}
    <li>
        <a class="portofolio-item" href="{{post.link}}">
            <h4>{{post.title}}</h4>
            <img src="{{post.thumbnail.src|resize(275)}}" />
            <p>{{post.date}}</p>
        </a>
    </li>
{% endblock %}
