/**
 * Table of Contents for FoundationPress:
 *
 * 1.0 - Custom settings
 * 2.0 - Typography
 * 3.0 - Header, sidebar and footer
 * 4.0 - Content
 *	4.1 - Pages
 *	4.2 - Posts
 *	4.3	- Widgets
 *	4.4 - Comments
 *	4.5 - Lists
 * 4.6 - Forms
 * 5.0 - Plugins

 * ----------------------------------------------------------------------------
 */

/**
 * 1.0 Custom settings
 * ----------------------------------------------------------------------------
 */

    // Reset margin and padding on figure element
figure {
        margin: 0;
        padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
    margin-bottom: rem-calc(20);
    margin-top: rem-calc(10);
    color: #6f6f6f;
}

// Add some whitespace between top bar and content

// Fix the issue where the WP adminbar overlaps the fixed navbar

body.logged-in .fixed {
    padding-top: 28px !important;
}

@media screen and (max-width: 40em) {

    #wpadminbar {
        position: fixed !important;
    }

    .main-content-wrapper {
        padding-top: 2.8125rem;
    }

    .move-right.off-canvas-wrap, .inner-wrap {
        height:100%;
    }
}

// fix the off-canvas-menu scrolling box
.off-canvas-wrap {
    position: absolute;
    z-index:100;
}

/**
 * 2.0 Typography
 * ----------------------------------------------------------------------------
 */

.article-content {

    p {
        font-family: "Crimson Text";
        font-size: 1.2rem;
    }
}

/**
 * 3.0 Header, sidebar and footer
 * ----------------------------------------------------------------------------
 */

section.container {

    .wrapper {
        padding-top: rem-calc(32);
    }
}

li.active {
    border-bottom: solid $primary-color;
}

li.name {

    img {
        height: $topbar-height - 2px;
        position: relative;
        top: -4px;
    }
}

.visibility-stroke {
    text-shadow:
     1px  1px 2px #fff,
    -1px -1px 2px #fff,
     1px -1px 2px #fff,
    -1px  1px 2px #fff,
     1px  1px 2px #fff,
     0px  6px 6px #fff,
     0px -6px 6px #fff,
    -6px  0px 6px #fff,
     6px  0px 6px #fff,
     6px  0px 6px #fff
}

#splash {
    background: url(../assets/img/Moldova-Landscape_by-Leszek-Kozlowski.jpg) no-repeat center center;
    min-height: rem-calc(220px);
}
.header-splash {
    min-height: rem-calc(420px);
    background: url(../assets/img/moldova-field_by-mitchie.ru.jpg) no-repeat;
    text-align: center;
    .welcome {
        margin-left: auto;
        margin-right: auto;
        padding-top: rem-calc(126px);

        .portrait:hover {
            @include filter(grayscale(100%));
            -webkit-transition: all 0.5s ease;
               -moz-transition: all 0.5s ease;
                 -o-transition: all 0.5s ease;
                    transition: all 0.5s ease;
        }

        .portrait {
            border-radius: 60px;
            @include filter(grayscale(0));
            filter: none;
        }

        p {
            font-family: 'Yanone Kaffeesatz', sans-serif;
            color: $primary-color;
            font-size: rem-calc(20);
            margin: 0;
        }

        .name {
            display: inline-block;
            font-size: 2rem;
        }
    }
}

.splash {
    background-attachment: scroll; /* fixed? */
    background-position: top left;
    width: 100%;
    background-size: cover;
}

.portofolio-item {
    -webkit-transition: opacity 0.5s ease;
       -moz-transition: opacity 0.5s ease;
         -o-transition: opacity 0.5s ease;
            transition: opacity 0.5s ease;

    img {
        box-shadow: 0px 0px 5px #999;
    }

    h4 {
        font-family: "Open Sans", sans-serif;
        font-size: rem-calc(18);
        text-align: center;
    }
}

.portofolio-item:hover {
    opacity: 0.8;
}

p {
    margin-bottom: rem-calc(8px);
}

footer#footer {
    position: relative;
    bottom: 0px;

    .social {
        background-color: $green;

        i.large {
            font-size: 3.2rem;
            color: #333;
            padding: 1rem;
        }
    }

   .links {
        background-color: $blue;
    }
}

/**
 * 4.0 Content
 * ----------------------------------------------------------------------------
 */


/**
 * 4.1 Pages
 * ------------------------------------
 */
.post {
    font-family: 'Fanwood Text', serif;
}

/**
 * 4.2 Posts
 * ------------------------------------
 */

// Insert styles here


/**
 * 4.3 Widgets
 * ------------------------------------
 */

// Insert styles here


/**
 * 4.4 Comments
 * ------------------------------------
 */

// Insert styles here


/**
 * 4.5 Lists
 * ------------------------------------
 */

// Insert styles here


/**
 * 4.6 Forms
 * ------------------------------------
 */

// Insert styles here


/**
 * 5.0 Plugins
 * ----------------------------------------------------------------------------
 */
